.App {
  width: 100vw;
  height: 100vh;
  text-align: center;
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  background-color: orange;
  box-shadow: 5px 10px 30px 10px green;
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.main{
  width: 98%;
  height: 95%;
  background-color: white  ;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container{
  width: 98%;
  height: 96%;
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5%;
}

.container-sub-one{
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  width: 100%;
  height:15%;
  background-color: red;
}

.container-sub-two{
  display: flex;
  flex-grow: 1;
  width: 100%;
  height: 75%;
  background-color: blueviolet;
}

.container-sub-one-left{
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  width: 10%;
  height:100%;
  background-color: blueviolet;
}

.container-sub-one-right{
  display: flex;
  flex-grow: 8;
  flex-direction: row;
  text-align: left;
  justify-content: left;
  font-size: 25px;
  width: 80%;
  height:100%;
  background-color: blueviolet;
  position: relative;
}
.container-sub-one-right-left{
  display: flex;
  flex-grow: 7;
  justify-content: left;
  align-items: center;
  margin-top:10px ;
  margin-bottom: 25px;
  margin-left: 10px;
  width: 70%;
  height: 70%;
  background-color: blueviolet;
  color: orange;
  font-weight: bolder;
  font-size:40px;
  overflow:hidden;
  position: relative;
}
.container-sub-one-right-right{
  display: flex;
  flex-direction: row;
  flex-grow: 3;
  width: 30%;
  height: 100%;
  background-color: yellow;
}
.logo-image{
  width: 100%;
}
.container-sub-one-right-right-one{
  display: flex;
  width: 60%;
  height: 100%;
  justify-content: center;
  align-items: center;
  background-color: red;
  color: orange;
}

.container-sub-one-right-right-two{
  width: 40%;
  height: 100%;
  background-color: blueviolet;
}

.container-sub-one-right-right-one-left{
  width: 50%;
  height: 100%;
  background-color: blueviolet;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  font-weight: bolder;
  overflow: hidden;
  
}
.container-sub-one-right-right-one-right{
  width: 50%;
  height: 100%;
  background-color: blueviolet;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  font-weight: bolder;
  overflow: hidden;
  
}
@media (max-width:1000px){
  .container-sub-one-right-left{
    font-size: 40px;
  }
  .container-sub-one-right-right-one-left{
    font-size: 22px;
  }
  .container-sub-one-right-right-one-right{
    font-size: 18px;
  }
}

@media (max-width:800px){
  .container-sub-one-right-left{
    font-size: 40px;
  }
  .container-sub-one-right-right-one-left{
    font-size: 18px;
  }
  .container-sub-one-right-right-one-right{
    font-size: 14px;
  }
}

@media (max-width:600px){
  .container-sub-one-right-left{
    font-size: 30px;
  }
  .container-sub-one-right-right-one-left{
    font-size: 15px;
  }
  .container-sub-one-right-right-one-right{
    font-size: 10px;
  }
}

@media (max-width:400px){
  .container-sub-one-right-left{
    font-size: 20px;
  }
  .container-sub-one-right-right-one-left{
    font-size: 10px;
  }
  .container-sub-one-right-right-one-right{
    font-size: 7px;
  }
}